example flow.json
[{"id":"1661d40686ad3252","type":"tab","label":"Blue Iris Overlay","disabled":false,"info":"","env":[]},{"id":"6e6e2e4052df8046","type":"mqtt out","z":"1661d40686ad3252","name":"Send to MQTT topic \"temperature\"","topic":"temperature","qos":"1","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"2fe33b3d.43a524","x":830,"y":400,"wires":[]},{"id":"e99623bc16d9eaef","type":"inject","z":"1661d40686ad3252","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"78.3","payloadType":"str","x":350,"y":400,"wires":[["9b7a3cbe3cb5ea8e"]],"info":"inject a temperature\r\nreplace this with a sensor state node here"},{"id":"9b7a3cbe3cb5ea8e","type":"function","z":"1661d40686ad3252","name":"add °F","func":"var newMsg = { payload: msg.payload + \" °F\"};\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":400,"wires":[["6e6e2e4052df8046","29ed8a469f526ee8"]]},{"id":"d3f51b152655a928","type":"comment","z":"1661d40686ad3252","name":"Blue iris overlay","info":"example of how to do such a thing\n\nthis sends payloads to mqtt","x":480,"y":260,"wires":[]},{"id":"8cac436c56c23f01","type":"mqtt out","z":"1661d40686ad3252","name":"","topic":"mandoor","qos":"1","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"2fe33b3d.43a524","x":1010,"y":540,"wires":[]},{"id":"0683c6b1f8732ea5","type":"server-state-changed","z":"1661d40686ad3252","name":"","server":"b7704f10.b6dc","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.garage_man_door_ias_zone","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":470,"y":540,"wires":[["4e47e604fd7aec0f"],["9de378cc360e0b53"]]},{"id":"4e47e604fd7aec0f","type":"change","z":"1661d40686ad3252","name":"set open message","rules":[{"t":"set","p":"payload","pt":"msg","to":"GARAGE MAN DOOR OPEN","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":500,"wires":[["8cac436c56c23f01"]]},{"id":"9de378cc360e0b53","type":"change","z":"1661d40686ad3252","name":"set closed message","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":580,"wires":[["8cac436c56c23f01"]]},{"id":"a779cac1dad9e037","type":"mqtt out","z":"1661d40686ad3252","name":"","topic":"garagedoor","qos":"1","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"2fe33b3d.43a524","x":1020,"y":680,"wires":[]},{"id":"a492beee5d40ea48","type":"server-state-changed","z":"1661d40686ad3252","name":"","server":"b7704f10.b6dc","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.garage_door_any","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":460,"y":680,"wires":[["b89c7e669a585cd5"],["fa7c9be013e6a3e3"]]},{"id":"b89c7e669a585cd5","type":"change","z":"1661d40686ad3252","name":"set open message","rules":[{"t":"set","p":"payload","pt":"msg","to":"GARAGE DOOR OPEN","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":640,"wires":[["a779cac1dad9e037"]]},{"id":"fa7c9be013e6a3e3","type":"change","z":"1661d40686ad3252","name":"set closed message","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":720,"wires":[["a779cac1dad9e037"]]},{"id":"6eb5903114dc2ad6","type":"mqtt out","z":"1661d40686ad3252","name":"","topic":"frontdoor","qos":"1","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"2fe33b3d.43a524","x":1020,"y":820,"wires":[]},{"id":"62d1f3215745e64b","type":"server-state-changed","z":"1661d40686ad3252","name":"","server":"b7704f10.b6dc","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.front_door_ias_zone","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":470,"y":820,"wires":[["2d5997bc0d8a1987"],["ad9469c4ad37277a"]]},{"id":"2d5997bc0d8a1987","type":"change","z":"1661d40686ad3252","name":"set open message","rules":[{"t":"set","p":"payload","pt":"msg","to":"FRONT DOOR OPEN","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":780,"wires":[["6eb5903114dc2ad6"]]},{"id":"ad9469c4ad37277a","type":"change","z":"1661d40686ad3252","name":"set closed message","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":860,"wires":[["6eb5903114dc2ad6"]]},{"id":"29ed8a469f526ee8","type":"debug","z":"1661d40686ad3252","name":"debug 21","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":340,"wires":[]},{"id":"2fe33b3d.43a524","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":"","credentials":{}},{"id":"b7704f10.b6dc","type":"server","name":"Home Assistant","version":5,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30,"areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m","enableGlobalContextStore":true}]